/* src/styles/global.css */
/* @import "tailwindcss/preflight"; */
@import "tailwindcss";
@import '@fontsource/geist-sans';
@import '@fontsource/geist-mono';

/* for light/dark mode */
:root {
    --background: #ffffff;
    --foreground: #171717;
    --font-sans: 'Geist Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
    --font-mono: 'Geist Mono', ui-monospace, 'Cascadia Mono', 'Segoe UI Mono', 'Roboto Mono', Menlo, Monaco, monospace;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-sans);
    font-feature-settings: 'liga' 1, 'calt' 1;
}

code, pre, kbd, samp {
    font-family: var(--font-mono);
}